<div class="w3-container" *ngIf="studentListData">
  <div class="w3-panel w3-round-small w3-teal">
    <h3>Student List</h3>
  </div>

  <div class="w3-panel w3-light-grey w3-padding-16 w3-card-2" *ngIf="(studentListData | filter:filterData | filter:filterData).length != 0; else noStudents">
    <table class="w3-table w3-striped w3-bordered">
      <tr>
        <th><i class="w3-medium custom-icon fa fa-user"></i> First Name</th>
        <th><i class="w3-medium custom-icon fa fa-user"></i> Last Name</th>
        <th><i class="w3-medium custom-icon fa fa-envelope-o"></i> Email</th>
      </tr>
      <tr *ngFor="let student of studentListData; index as i;" appHighlightStudent>
        <td class="pointer" [routerLink]="['detail', i]">{{student.first_name | uppercase}} </td>
        <td class="pointer" [routerLink]="['detail', i]">{{student.last_name | titlecase}}</td>
        <td class="pointer" [routerLink]="['detail', i]">{{student.email | lowercase}}</td>
        <td class="pointer" [routerLink]="['detail', i]">{{student.phone | phone}}</td>
      </tr>
    </table>
  </div>

  <ng-template #noStudents>
    <h3>Oh no</h3>
    <p>No students found</p>
  </ng-template>

</div>
